html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-image: url("fujiyoshida-chureito-pagoda.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


h1, h2, h3 {
    margin: 0;
    margin-left: 40px;
}


.navbar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(196, 0, 29, 0.85); 
    color: white;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 40px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.navbar a:hover {
    text-decoration: underline;
}


.parallax {
    margin-top: 80px; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-text {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px 40px;
    border-radius: 20px;
    font-size: 50px;  
}

.apropos-container {
    background: rgba(0, 0, 0, 0.55); 
    padding: 30px;
    border-radius: 20px; 
    width: 80%;
    margin: 40px auto; 
    color: white; 
    backdrop-filter: blur(3px); 
    font-size: 30px;
}

.parallax-text h2 {
    font-size: 60px;
    margin-bottom: 10px;
}

.section {
    padding: 100px 20px 40px 20px; 
    font-size: 20px;
}

.section h2 {
    color: #c4001d;
    margin-bottom: 20px;
    font-size: 50px;
}


.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 250px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden; 
    margin: 10px 0;
    font-size: 25px;
    
}

.card img {
    width: 100%;       
    height: 100%;      
    object-fit: cover; 
    display: block;
}



.lieux-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.lieu {
    flex: 1;
    min-width: 260px;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    font-family:sans-serif;
}
.lieu img {
    width: 100%;
    height: 100%;      
    object-fit: cover;
    display: block;
}

footer {
    background: rgba(0,0,0,0.5); 
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
